<div id="calculator-modal" class="modal calculator-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h5 class="modal-title">Sample Size Calculator</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-left">
          <p class="text-muted"><small>Choosing the right sample size up front is crucial to properly analyzing your experiments and avoiding Type I and Type II errors. The wrong sample size can lead to extended experiment runs, a lack of confidence in results, or other unknown errors. <a href="http://www.evanmiller.org/how-not-to-run-an-ab-test.html" target="_blank">Read more here.</a></small></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-info">
            <span class="fas fa-calculator"></span>
            Calculate
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
