<div class="footer container-fluid bg-light">
  <div class="row">
    <div class="col-sm text-left">
      <%= link_to "TrailGuide v#{TrailGuide::Version::VERSION}", "https://github.com/markrebec/trailguide", target: :blank, class: "text-muted" %>
    </div>
    <div class="col-sm text-right">
      <small class="text-muted"><%= TrailGuide.redis._client.id %><%= "/#{TrailGuide.redis.namespace}" if TrailGuide.redis.respond_to?(:namespace) %></small>
    </div>
  </div>
</div>
