<div class="footer bg-light">
  <div class="text-right">
    <%= link_to "TrailGuide v#{TrailGuide::Version::VERSION}", "https://github.com/markrebec/trailguide", target: :blank, class: "text-muted" %>
  </div>
</div>
