<% unless TrailGuide.configuration.ignore_orphaned_groups? || TrailGuide.catalog.orphans.empty? %>
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-10 col-lg-8">
      <div class="alert alert-warning">
        <h5>
          <span class="fas fa-ghost"></span>
          &nbsp;
          Orphaned Groups
        </h5>

        <br />
        <p>TrailGuide has detected <strong><%= TrailGuide.catalog.orphans.values.sum(&:count) %></strong> calls to <code>trailguide.convert</code> against <strong><%= TrailGuide.catalog.orphans.count %></strong> unknown group <%= "name".pluralize(TrailGuide.catalog.orphans.count) %>.</p>
        
        <p><small>This usually means that the last experiment that belonged to a given group was removed without realizing it, and references to the group were overlooked. <strong>Don't worry, your users won't notice a thing</strong>, and you can find all the logged references below. You can find <%= link_to "more info here.", "https://github.com/markrebec/trailguide#orphaned-groups", target: :blank %></small></p>
      </div>
    </div>
  </div>
<% end %>
