.experiments button.experiment {
  display: block;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  border: none;
}
.experiments button.experiment:not(:hover):not(:active) {
  background-color: #f8f9fa;
}

.experiments button.experiment .experiment-text {
  color: #343a40;
}
.experiments button.experiment:hover .experiment-text,
.experiments button.experiment:active .experiment-text {
  color: inherit !important;
}

div.experiment {
  margin-bottom: 40px;
}

div.experiment table th, .experiment table td {
  line-height: 31px;
  vertical-align: middle;
  text-align: center;
}

div.experiment table th h5 {
  margin: 0;
  padding: 0;
  line-height: 31px;
}
