<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-lg-8">
    <div class="experiments">
      <% @groups.each do |group| %>
        <button href="<%= trail_guide_admin.group_path(group) %>" class="experiment btn btn-outline-secondary rounded-lg text-left">
          <div class="row align-items-center">
            <div class="col-12 col-md-8 col-lg-9 experiment-text">
              <h4 id="<%= group %>">
                <%= group.to_s.humanize.titleize %>
              </h4>
            </div>
            <div class="col-12 col-md-4 col-lg-3 text-center text-md-right">
              <div class="row align-items-center">
                <div class="col-6 col-md-7 col-lg-8 experiment-text text-center">
                  <h4>
                    <span class="fas fa-flask"></span>
                    &times;
                    <%= TrailGuide.catalog.select(group).count %>
                  </h4>
                </div>

                <div class="col-6 col-md-5 col-lg-4 experiment-text text-center">
                  <h4>
                    <% if TrailGuide.catalog.select(group).all? { |e| e.goals.map(&:name).include?(group) } %>
                      <span class="fas fa-fill" data-toggle="tooltip" title="this group represents a shared conversion goal between multiple experiments"></span>
                    <% else %>
                      <span class="fas fa-th-large" data-toggle="tooltip" title="this group is not linked to any shared goals, and is purely organizational"></span>
                    <% end %>
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </button>
      <% end %>
    </div>
  </div>
</div>
