<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-lg-8">
    <div class="experiments">
      <% @experiments.each do |experiment| %>
        <%= render 'trail_guide/admin/experiments/experiment', experiment: experiment %>
      <% end %>
    </div>
  </div>
</div>
