<% if experiment.started? && !experiment.stopped? %>
  <% if experiment_peekable?(experiment) %>
    <% if experiment_peeking?(experiment) %>
      <%= link_to trail_guide_admin.experiment_path(experiment.experiment_name), class: "btn btn-primary #{classname if defined?(classname)}", method: :put, data: {toggle: :tooltip}, title: "hide this experiment's metrics" do %>
        <span class="fas fa-eye-slash"></span>
      <% end %>
    <% else %>
      <%= link_to peek_url(experiment), class: "btn btn-primary #{classname if defined?(classname)}", method: :put, data: {toggle: :tooltip}, title: "peek at this experiment's metrics" do %>
        <span class="fas fa-eye"></span>
      <% end %>
    <% end %>
  <% end %>
<% end %>
