<% if TrailGuide.configuration.disabled %>
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-10 col-lg-8">
      <div class="alert alert-danger">
        TrailGuide is globally disabled. Your experiments are not running, and control variants will be returned for all users until it is enabled again.
      </div>
    </div>
  </div>
<% end %>

<div class="row justify-content-center">
  <div class="col-12 col-md-10 col-lg-8">
    <div class="experiments">
      <% @experiments.each do |experiment| %>
        <%= render 'experiment', experiment: experiment %>
      <% end %>
    </div>
  </div>
</div>
