<div class="experiments">
  <% TrailGuide.catalog.each do |experiment| %>
    <% if experiment.combined? %>
      <%= render 'combined_experiment', combined_experiment: experiment %>
    <% else %>
      <%= render 'experiment', experiment: experiment %>
    <% end %>
  <% end %>
</div>
